.footer {
    width: 100%;
    padding: 1rem 1rem;
}

.footerContent {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: var(--slate);
}

.iconLink {
    color: var(--slate);
    font-size: 2.5rem; /* Increased size for a single icon */
    transition: color 0.3s ease;
    text-decoration: none;
}

.iconLink:hover {
    color: var(--green);
}
