.box {
  border: 1px solid var(--slate);
  padding: 1rem;
  margin: 1rem;
  position: relative;
}

.title {
  position: absolute;
  top: -0.75em;
  left: 1em;
  background: var(--dark-navy);
  padding: 0 0.5em;
  color: var(--green);
  font-size: 0.9em;
}

.content {
  /* Content inside the box */
}
